/* CSS DO LOTERII */
@import url("https://fonts.googleapis.com/css?family=Arvo");
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    background-color: rgb(25, 25, 33);
    background: url("assets/background1.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    padding-left: 40px;
    padding-right: 40px;
}

#cena {
    text-align: center;
}

.lottery {
    padding-left: 40px;
    padding-right: 40px;
    height: 350px;
    background-color:#0a0a0a;
    margin: 40px;
}

#nick,
#inventory,
#back,
#money {
    width: 15%;
    height: 80%;
    background: none;
    color: inherit;
    border: none;
    padding: 10px;

    font: inherit;
    cursor: pointer;
    outline: inherit;
    float: left;
}

.skrzynki {
    margin-top: 20px;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
}

.skrzynka {
    background-color: #0a0a0a;
    color: #fff;
    margin: 5px;
    min-width: 265px;
    min-height: 265px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    float: left;
}

.skrzynka:hover {
    filter: drop-shadow(4px 4px 4px yellow);
    transform: translateY(-2px);
    transition: 0.1s;
}

.header {
    padding-left: 40px;
    padding-right: 40px;
    height: 60px;
    background-color: #0a0a0a;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

a {
    box-sizing: border-box;
    text-decoration: none;
    font-size: 25px;
    color: white;
}

#inventory:hover,
#back:hover {
    background-color: #292929;
}

.skiny {
    margin-top: 20px;
    text-align: center;
}

.common,
.rare,
.superrare,
.red,
.gold {
    background-color: #0a0a0a;
    color: #fff;
    padding: 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 280px;
    height: 280px;
    float: left;
}

.skin {
    background-color: #0a0a0a;
    color: #fff;
    padding: 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 280px;
    height: 280px;
    float: left;
}

.bronie {
    padding-left: 40px;
    padding-right: 40px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
.box {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 80%;
    margin: 20px;
    padding-top: 30px;
}

#cardList {
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 80%;
    position: relative;
    border: 2px solid black;
    overflow: hidden;
    white-space: nowrap;
}

.card {
    display: inline-block;
    background-color: red;
    text-align: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 200px;
    height: 200px;
}

.card > img {
    width: 150px;
    height: 100px;
    margin-top: 50px;
}

.arrow-down {
    margin-left: 380px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    margin-left: auto;
    margin-right: auto;
    border-top: 20px solid #f00;
}
#dialog-msg > img {
    width: 100px;
    height: 100px;
}
#dialog-msg {
    text-align: center;
}
.openCase {
    margin: 0 auto;
    align-items: center;
    background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 100px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}

.openCase:active,
.openCase:hover {
    outline: 0;
}

.openCase span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

.openCase:hover span {
    background: none;
}

@media (min-width: 768px) {
    .openCase {
        font-size: 24px;
        min-width: 196px;
    }
}

/* KONIEC CSS DO LOTTERI */

#logoutButton {
    width: 10%;
    height: 80%;
    background: none;
    color: inherit;
    border: none;
    padding: 10px;

    font: inherit;
    cursor: pointer;
    outline: inherit;
    float: right;
}
#logoutButton:hover {
    background-color: #292929;
}
