* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
    height: 100%;
}

body {
    height: 100%;
    min-height: 100vh;

    background-color: rgb(25, 25, 33);
    background: url("/assets/background.png")
        no-repeat center center fixed;
    background-size: cover;

    color: #606468;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;

    margin: 0;
}

.align {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.icons {
    display: none;
}

.icon {
    display: inline-block;
    fill: #606468;
    font-size: 16px;
    font-size: 1rem;
    height: 1em;
    vertical-align: middle;
    width: 1em;
}

a {
    color: #eee;
    outline: 0;
    text-decoration: none;
}

a:focus,
a:hover {
    text-decoration: underline;
}

input {
    background-image: none;
    border: 0;
    color: inherit;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    transition: background-color 0.3s;
}

input[type="submit"] {
    cursor: pointer;
}

.form input[type="password"],
.form input[type="text"],
.form input[type="submit"] {
    width: 100%;
}

.form__field {
    display: flex;
    margin: 0.875rem;
}

.form__input {
    flex: 1;
}

.register {
    color: #eee;
}

.register label,
.register input[type="text"],
.register input[type="number"],
.register input[type="password"],
.register input[type="submit"] {
    border-radius: 0.25rem;
    padding: 16px;
    padding: 1rem;
}

.register label {
    background-color: #363b41;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding-left: 20px;
    padding-left: 1.25rem;
    padding-right: 20px;
    padding-right: 1.25rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    appearance: textfield;
}

.register input[type="password"],
.register input[type="number"],
.register input[type="text"] {
    background-color: #3b4148;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.register input[type="password"]:focus,
.register input[type="password"]:hover,
.register input[type="number"]:focus,
.register input[type="number"]:hover,
.register input[type="text"]:focus,
.register input[type="text"]:hover {
    background-color: #434a52;
}

.register input[type="submit"] {
    background-color: #ea4c88;
    color: #eee;
    font-weight: 700;
    text-transform: uppercase;
}

.register input[type="submit"]:focus,
.register input[type="submit"]:hover {
    background-color: #d44179;
}

p {
    margin-bottom: 24px;
    margin-bottom: 1.5rem;
    margin-top: 24px;
    margin-top: 1.5rem;
}

.text--center {
    text-align: center;
}
